*{
    box-sizing: border-box;
}

body{
margin: 0;
padding: 0;
}

#container{
height: 100vh;
display: grid;
grid-template-columns: 1fr 4fr; 
background-color: grey;
padding: 0.5rem; 
}

#container>*{
border: 1px solid pink;
}

#sidebar{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 2px solid pink;
    color: black;
    padding: 0.5rem; 
    }